.search-page {
  &__custom-search-container {
    background: $search-page-container-bg-color;

    padding: {
      top: 50px;
      bottom: 35px;
    }

    .custom-search-params {
      .checkbox {
        label {
          &:after {
            left: 1px;
          }
        }
      }

      &__filter-select {
        margin: {
          top: 15px;
          bottom: 30px;
        }

        > .form-control {
          margin-right: 18px;
        }

      }

      &__house-type {
        padding: {
          left: 15px;
          right: 0;
        }
      }

      &__size-floor {
        padding: {
          left: 0;
          right: 60px;
        }
      }

      &__header-floor {
        margin-top:35px;
      }

      &__additional-title {
        margin-top:38px;
      }

      &__search-comment {
        .form-group {
          margin-bottom: 25px;

          .control-label {
            padding-right: 0;
            text-align:left;
          }
        }

        &-input {
          padding-left:0;

          .btn-link {
            font: {
              weight: bold;
            }
            margin-top:10px;
          }
        }
      }

      /* Left SIDEBAR */
      &__left-sidebar {

        &-filter {
          margin: {
            bottom: 35px;
          }

          .btn-link {
            margin-top:20px;
          }

          .checkbox {
            margin-top:10px;
          }
        }
      }

      &__metro-schema {
        margin-top: 11px;
      }
    }
  }
}

.search-submit {
  background-color: $block-above-footer-bg-color;

  &__row {
    line-height: 56px;
    padding:24px 0;
    &-support-text {
      a {
        font-weight: bold;
      }
    }
  }
}