$primary-color: #454c61;
$second-color:#fff;
$second-color-hover: #f2f2f2;
$input-color-placeholder: #abb2c7;
$primary-font: "PT Sans", sans-serif;
$primary-font-size: 16px;
$primary-bg-color: #f6f6f6;
$form-element-border-color: #c4c8d6;
$form-element-outline-color: $primary-color;
$block-above-footer-bg-color: #e6e8ed;

$search-page-container-bg-color: #fcfcfc;

$footer-height: 150px;
